.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.60;
}

.imagee {
    display: flex;
    flex-direction: column;
    flex: 0.40;
    /* margin-bottom: 5px; */
}

.about-content {
    display: flex;
    margin-left: 10%;
    font-size: 1.25em;
    margin-bottom: 30px;
}

.sidebar{
    /* text-align: center; */
}
.abouty{
    width: 375px;
    height: 351px;
    fill: none;
    /* justify-content: center; */
}

@media (max-width: 900px){
/* .about-content .imagee img{
    width: 350px;
    height: auto;
} */

.sidebar {
    display: block;
    
}

.imagee{
    display: block;
}
}