.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.imagee {
    display: flex;
}

.about-content {
    flex-direction: row;
    display: flex;
    font-size: 1.25em;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}
.about{
    width: 340px;
    height: 350px;
}


@media (max-width: 950px){
    .about-content{
        flex-direction: column;
}   
}
