.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.60;
}

.imagee {
    display: flex;
    flex-direction: column;
    flex: 0.40;
}

.about-content {
    display: flex;
    font-size: 1.25em;
    /* text-align: center; */
    margin-left: 10%;
}
.abouty{
    width: 340px;
    height: 350px;
}