.button-main{
	display:flex;
	width: 180px;
	padding: 20px 20px;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	/* background-color: "light"; */
	background: #3770ff;
	/* border-radius: 10px; */
}

@media(max-width:900px){
	.button-main{
		flex-direction:column;
		justify-content:space-around;
	}
}