.bodyy{
	display: flex;
	justify-content:center;
	position: relative;
    z-index: 1;
	/* align-items:center; */
}	
.landing{
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	text-align:center;
}
.content{
	display:flex;
	justify-content: center;
	align-items: center;
	/* flex-direction: column; */
	flex-basis: 75%;
	flex-wrap: wrap;

}

/* .content > *{
	margin-top: 20px;
	margin-bottom: 20px;
} */

.logo{
	width: 45%;
	/* margin-top: 10em; */
}

.buttonGroup{
	display: flex;
}

.buttonGroup > *{
	margin: 10px;
}

.landingheading{
	color: #FFFFFF; 
	font-weight: normal;
	font-size: 23px;

}

.scontainer{
	display: flex;
	flex-wrap: wrap;
}

/* 
@media(max-width:500px){
	
.buttonGroup{
	flex-direction: column;
}
} */