.scontainer{
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 24px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 2px solid #FFFFFF;
	/* border-top: 2px solid #FFFFFF; */
}

.sectioncontent{
	/* margin: 10px; */
	padding: 10px;
	width: 100%;
	display: flex;
}

.scon{
	display: flex;	
	width: 100%;
}

.sectionheader{
	/* margin: 10px; */
	font-weight: 600;
	font-size: 30px;
	width: 100%;
	line-height:37px;
	margin-bottom: 20px;
}

.sectionimage{
	width:300px;
	height: 300px;
}


