.main{
	position: sticky;
	display: flex; 
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background:#1E1D3F ;
	padding: 15px;
	margin: 0px;
	top: 0;
	/* right: 0.5%; */
	/* left: 0; */
	z-index: 100000;
}

.nav{
	flex-basis: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	/* left: 0; */
	color: #FFFFFF;
}

.mobile-only{
	display: none;
	color: #FFFFFF;
}

.icon{
	display: inline-block;
}


@media (max-width: 1280px){
	.main{
		/* flex-direction: column; */
		/* left: 0; */
		right: 0%;
		position: absolute;
	}	
	.nav{
		display: none;
		padding: 5px 0px;
		justify-content: right;
	}

	.mobile-only{
		/* padding: 24px 25px; */
		display:flex;
		flex-direction: row;
		width: 40px;
		/* right: 0%; */
	}
}