.main{
	position: sticky;
	display: flex; 
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background:#1E1D3F ;
	padding: 15px;
	margin: 0px;
	top: 0;
	z-index: 100000;
	/* top:0; */
}

.nav{
	flex-basis: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	color: #FFFFFF;
}

.mobile-only{
	display: none;
	color: #FFFFFF;
}

.icon{
	display: inline-block;
}


@media (max-width: 1280px){
	.main{
		flex-direction: column;
		justify-content: right;
	}	
	.nav{
		display: none;
		padding: 5px 0;
		justify-content: right;
	}

	.mobile-only{
		display:block;
		width: 40px;
	}
}